<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BaseImageManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BaseImageManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <section name="QuickAccessSection" type="BaseImageManager.QuickAccessSection, BaseImageManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <QuickAccessSection>
        <QuickAccessArray>
            <add Title="TestForSH" BaseDir="C:\WebAdminTest\TestResult" SearchRule="*WAResultImageIndex.xml" />
            <add Title="TestForLB" BaseDir="C:\WebAdminTest\TestResult_LB" SearchRule="*WAResultImageIndex.xml" />
        </QuickAccessArray>
    </QuickAccessSection>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <BaseImageManager.Properties.Settings>
            <setting name="BaseImageFolder" serializeAs="String">
                <value>C:\AutoTestFiles\WebAdmin\Screenshots</value>
            </setting>
            <setting name="LastOpenFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExitAfterApply" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultIndexFile" serializeAs="String">
                <value>D:\Workspace\BSI\WAResultImageIndex.xml</value>
            </setting>
            <setting name="HistoryFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\WebAdminTest\TestResult\333_03_31_2014\WebAdmin_SH\WAResultImageIndex.xml</string>
                        <string>C:\WebAdminTest\TestResult\332_03_30_2014\WebAdmin_SH\WAResultImageIndex.xml</string>
                    </ArrayOfString>
                </value>
            </setting>
        </BaseImageManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BaseImageManager.Properties.Settings>
            <setting name="MaxHistory" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxQuickAccess" serializeAs="String">
                <value>10</value>
            </setting>
        </BaseImageManager.Properties.Settings>
    </applicationSettings>
</configuration>